.card-container-outer {
    width: 255px;
    margin: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.498);
}

.card-container-inner {
    padding: 40px 20px;
    height: 330px;
}

.music-placeholder {
    width: 100%;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.433);
    margin-top: 25px;
}

.card-container-outer:hover {
    box-shadow: 0 5px 20px rgba(10, 10, 10, 0.74);
}