.signature {
    position: absolute;
    top: 0;
    left: 36px;
}

.sharp-1 {
    font-size: 25px;
    position: absolute;
    top: -9px;
}

.sharp-2 {
    font-size: 25px;
    position: absolute;
    top: 9px;
    left: 10px;
}

.sharp-3 {
    font-size: 25px;
    position: absolute;
    top: -15px;
    left: 18px;
}

.sharp-4 {
    font-size: 25px;
    position: absolute;
    top: 3px;
    left: 28px;
}

.sharp-5 {
    font-size: 25px;
    position: absolute;
    top: 21px;
    left: 38px;
}

.sharp-6 {
    font-size: 25px;
    position: absolute;
    top: -3px;
    left: 46px;
}

.sharp-7 {
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 56px;
}

.flat-1 {
    font-size: 29px;
    position: absolute;
    top: 13px;
}

.flat-2 {
    font-size: 29px;
    position: absolute;
    top: -5px;
    left: 8px;
}

.flat-3 {
    font-size: 29px;
    position: absolute;
    top: 19px;
    left: 17px;
}

.flat-4 {
    font-size: 29px;
    position: absolute;
    top: 1px;
    left: 27px;
}

.flat-5 {
    font-size: 29px;
    position: absolute;
    top: 25px;
    left: 35px;
}

.flat-6 {
    font-size: 29px;
    position: absolute;
    top: 7px;
    left: 45px;
}

.flat-7 {
    font-size: 29px;
    position: absolute;
    top: 31px;
    left: 53px;
}