.body {
    width: 70%;
    min-width: 1000px;
    height: 1300px;
    background-color: rgba(240,240,240,0.9);
    margin: 0 auto;
}

.page-container {
    position: relative;
    background-color: black;
}

p {
    margin-bottom: 40px;
}


.image-container {
    display: flex;
    justify-content: center;
}