.body {
    width: 70%;
    min-width: 1000px;
    height: 1300px;
    background-color: rgba(240,240,240,1);
    margin: 0 auto;
}

.page-container {
    position: relative;
}

.welcome-image {
    width: 100%;
    height: 400px;
    background-image: url('../../public/sheetmusic.jpg');
    background-size: cover;
}

.welcome-image2 {
    width: 100%;
    height: 400px;
    background-image: url('../../public/sheetmusic.jpg');
    background-size: cover;
}